div.message img.userItem {
    display: none;
}
div.message div.timeStamp {
    display: none;
}
div.message div.content {
    box-shadow: none;
    border: none;
    display: inline;
}
div.message div.flex-property {
    display: inline!important;
}
.arrow-chat {
    display: none!important;
}
div.message div.userItem {
    display: inline;
    font-weight: bold;
}

div.message div.userItem:after {
    content: ":";
}
BUTTON, INPUT, OPTGROUP, SELECT, TEXTAREA
{
	margin-left: -1400px;
	font: inherit;
	color: rgba(249, 18, 18, 0.513);
	margin-right: 0;
}
#myAvatar
{
	padding: 0 10px;
	cursor: pointer;
	margin-left: -970px;
}
.header-chat-logo
{
	max-height: 50px;
	margin-right: 10px;
	margin-left: 500px;
}
.header-chat-logo IMG
{
	object-fit: cover;
	height: 60px;
	margin-right: -1px;
	width: 500px;
	object-position: -200px;
	margin-left: -50px;
}




